<h3>User info</h3>
   <%= image_tag user.get_profile_image(100,100) %>
   
<table class="table">
  <thead>
    <tr>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><h6>name</h6></td>
      <td><h6><%= user.name %></h6></td>
    </tr>
    <tr>
      <td><h6>introduction</h6></td>
      <td><h6><%= user.introduction %></h6></td>
    </tr>
    <tr>
      <td>follows</td>
      <td><%= link_to user.followings.count, user_followings_path(user) %></td>
    </tr>
    <tr>
      <td>followers</td>
      <td><%= link_to user.followers.count, user_followers_path(user) %></td>
    </tr>
    <tr>
      <% if current_user != user %>
      <td><%= render "relationships/btn", user: user, options: { class: ""} %></td>
      <% else %>
        <%= link_to edit_user_path(user), class: "btn btn-outline-secondary btn-block" do %>
        <i class="fas fa-user-cog"></i>
        <% end %>
     <% end %>
    <td><% if current_user != user && current_user.following?(user) && user.following?(current_user) %>
          <%= link_to 'chatを始める', message_path(user.id), class: "ml-3" %>
        <% end %>
    </td>
    </tr>
  </tbody>
</table>


  
  


<h3>New book</h3>

<%= form_with model: book do |f| %>

    <h6>Title</h6>
    <%= f.text_field :title %>

    <h6>Opinion</h6>
    <%= f.text_area :body %>
    <input class="btn btn-success" type="submit" value="Create Book">
  
<% end %>
