<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/ef1c4645aa.js" crossorigin="anonymous"></script>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <div class="social"></div></header>
  </head>

  <body>
    
    <% if user_signed_in? %>
    <div class="container-fluid">
     <header class="row px-5 py-4" >
        <div class="col-2 offset-1">
      <li>
        <%= link_to "Bookers", root_path,class:"text-white",style:"text-decoration:none;" %>
      </li>
      </div>
      <div class="col-4 offset-3">
        <div class="row">
          <div class="col-3">
            <li>
               <%= link_to user_path(current_user),class:"text-white",style:"text-decoration:none;" do %>
                     <i class="fa-solid fa-house"></i>
                     Home
                 <% end %>
            </li>
          </div>
          <div class="col-3">
            <li>
              <%= link_to users_path,class:"text-white",style:"text-decoration:none;" do %>
                <i class="fa-solid fa-users"></i>
                Users
              <% end %>
            </li>
          </div> 
          <div class="col-3">
            <li>
              <%= link_to books_path,class:"text-white",style:"text-decoration:none;" do %>
                <i class="fa-solid fa-book-open"></i>
                Books
              <% end %>
            </li>
          </div>
          <div class="col-3">
            <li>
              <%= link_to destroy_user_session_path, method: :delete,class:"text-white",style:"text-decoration:none;" do  %>
                <i class="fa-solid fa-right-from-bracket"></i>
                Log out
              <% end %>
            </li>
          </div>
        </div>
      </div>
     </header>
    </div>
            
    <% else %>
    <div class="container-fluid">
     <header class="row px-5 py-4" >
        <div class="col-2 offset-1">
      <li>
        <%= link_to "Bookers", root_path,class:"text-white",style:"text-decoration:none;"  %>
      </li>
      </div>
      <div class="col-4 offset-3">
        <div class="row">
          <div class="col-3">
            <li>
              <%= link_to root_path,class:"text-white",style:"text-decoration:none;" do %>
                <i class="fa-solid fa-house"></i>
                Home
              <% end %>
            </li>
          </div>
          <div class="col-3">
            <li>
              <%= link_to about_path,class:"text-white",style:"text-decoration:none;" do %>
                <i class="fa-solid fa-link"></i>
                About
                <% end %>
            </li>
          </div> 
          <div class="col-3">
            <li>
              <%= link_to new_user_registration_path,class:"text-white",style:"text-decoration:none;" do %>
                <i class="fa-solid fa-user-plus"></i>
                Sign up
                <% end %>
            </li>
          </div>
          <div class="col-3">
            <li>
              <%= link_to new_user_session_path,class:"text-white",style:"text-decoration:none;" do  %>
                <i class="fa-solid fa-right-to-bracket"></i>
                Log in
                <% end %>
            </li>
          </div>
        </div>
      </div>
     </header>
    </div>
    <% end %>
  
  
    <%= yield %>
    
  </body>
  <footer>CopyRight Infratop.inc</footer>
</html>

